.middle{
    width: 30%;
    height: 39em;
    border: 2px ;
  padding: 10px;
  border-radius: 10px;
  margin-top: 45px;
  border: 1px ;
  padding: 10px;
  box-shadow: 0px 0px 10px #111111;
  padding-left: 0px;
  padding-right: 0px;
}
.buttons{
  margin-top: 22px;
}
.login-controls{
  border-spacing: 20px;
  font-family: arial;
  margin-top: 20px;
  padding-top: 10px; 
  font-weight: bold;
}
.login-label{
  

  border-bottom-width: 10px 10px;
  border-bottom-style: solid ; 
  border-bottom-color: #5bbbeb ;
   
}
.login{
  color: #d0d0d0;
  margin-top: 10p;
  text-decoration: #9e9e9e;
}
.image{
  border-block: 10px;

}
.LOG-IN{
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #5bbbeb;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 10px #a2d9f5;
  border-radius: 5px;
  
}
.LOG{
  width: 80%;
  height: 50px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 0px solid #ccc;
  box-sizing: border-box;
  color: #818181;
  font-size: 17px;
  text-align: center;
  background: #f6f6f6;
   border-radius: 5px;
}
.Password{
  width: 80%;
  height: 50px;
  padding: 12px 20px;
  margin: 0px 0;
  display: inline-block;
  border: 0px solid #ccc;
  box-sizing: border-box;
  color: #818181;
  font-size: 17px;
  text-align: center;
  background: #f6f6f6;
  border-radius:5px ;
}
.footer{
  font-size: 17px;
  color: #5bbbeb;
  width: 100%;
  height: 80px;
  background-color: #f6f6f6;
  padding: 5.5px 20px;
  display: inline-block;
  border-top: 0.5px solid #ebe4e4;
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 38px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
 ;
}
body{
    background:rgb(72, 172, 255);
}
img{
    height: 220px;
    width:220px;
}